extends layout

block scripts
	script(src='index.js')

block content
	h1= title
	p Welcome to #{title}

	div#alerts.alert(hidden='true') 
		strong Warning! 
		span#alert_message
	
	div
		input#email(type='text',placeholder='email')
		br
		input#password(type='password',placeholder='password')
		br
		button#login_btn.btn.btn-primary Sign in
