extends layout

block scripts
	script(src='trig.js')
	script(src='object.js')
	script(src='main.js')

block content
	p
		i #{user_name}/#{email}
	
	div#slider
		input#slide(type='range',min='5',max='200',step='5')

	canvas#my_canvas(width='640',height='480')	
		
	//-hr
	
	//-a.btn.btn-primary(href="#create_dialogue",role="button",data-toggle="modal") Create
	//-a#post_test.btn.btn-primary Post
	//-a#update.btn Update
	
	//-div 
	//-	table#myTable.table.table-condensed
	//-		tbody
			
	div#create_dialogue.modal.hide.fade(role='dialog',tabindex='-1',aria-hidden='true',aria-labelledby='myModalLabel')
		div.modal-header
			button.close(type='button',data-dismiss='modal',aria-hidden='true') x
			h3 Modal header
		div.modal-body 
			form.form-inline
				input#x.input-small(type='text',placeholder='x')
				input#y.input-small(type='text',placeholder='y')
				input#v.input-small(type='text',placeholder='v')
		div.modal-footer
			button.btn(data-dismiss='modal',aria-hidden='true') Close
			button#create_btn.btn.btn-primary(data-dismiss='modal',aria-hidden='true') Create