extends layout

block scripts
	script(src='trig.js')
	script(src='object.js')
	script(src='screen.js')
	script(src='camera.js')
	script(src='scene.js')
	script(src='planet_fx.js')
	script(src='grid_fx.js')
	script(src='time.js')
	script(src='keyboard.js')
	script(src='main.js')
	
	
	script(src='/socket.io/socket.io.js')
	
block content
	div.row
		div.span12
			p
				i #{user_name}/#{email}
			
			div 
				span#heading 
				|
				span#velocity
				|
				span#world_x
				|
				span#world_y
		div.row	
			div.span8
				canvas#my_canvas(width='640',height='480')
			div.span4
				input#msg.input-small(type='text',placeholder='Text ...')
				p Hallo World!
				
			
	//-a.btn.btn-primary(href="#create_dialogue",role="button",data-toggle="modal") Create
			
	div#create_dialogue.modal.hide.fade(role='dialog',tabindex='-1',aria-hidden='true',aria-labelledby='myModalLabel')
		div.modal-header
			button.close(type='button',data-dismiss='modal',aria-hidden='true') x
			h3 Modal header
		div.modal-body 
			form.form-inline
				input#x.input-small(type='text',placeholder='x')
				input#y.input-small(type='text',placeholder='y')
				input#v.input-small(type='text',placeholder='v')
		div.modal-footer
			button.btn(data-dismiss='modal',aria-hidden='true') Close
			button#create_btn.btn.btn-primary(data-dismiss='modal',aria-hidden='true') Create